<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
        <title>Joni Kontusalmi</title>
<style>

</style>
</head>
<body>


<div class="container">
  <div class="header"><h2>Grid Layout</h2></div>
  <div class="nav">
    <a href="index.html">First</a>
    <a href="second.html">Second</a>
    <a href="third.html">Third</a>
  </div>
  <div class="menu">
    <a href=https://www.coloria.net>Coloria</a><br>
    <a href=https://www.handprint.com>Handprint</a><br>
    <a href=https://www.google.com>Google.com</a></div>
  <div class="article"> <p>Article content Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat in id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam.</p></div>
  <div class="footer"><h4>&copy; Joni Kontusalmi</h4></div>
</div>

</body>
</html>


