body{
    background-color: lightgrey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

article {
    background-color:antiquewhite;
    padding: 15px;
}

section{
    background-color: azure;
    padding: 15px;
    
}

aside{
    background-color: beige;
    padding: 15px;
}

footer{
    padding-top: 20px;
}